.title {
    font-family: 'Rubik Scribble', cursive;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin-bottom: 48px;
    
}

.titlecolor {
    margin-bottom: 32px;
}

.colors {
    display: static;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.color-text {
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.color1 {
    width: 25%;
    margin-right: 3%;
}

.color2 {
    width: 25%;
    margin-right: 3%;
}

.color3 {
    width: 25%;
}

.color4 {
    width: 25%;
    margin-right: 0;
}

.fonts {
    display: static;
        flex-wrap: wrap;
        margin-bottom: 64px;
        padding: 16px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.font1 {
    width: 25%;
    margin-right: 3%;
}

.font2 {
    width: 25%;
    margin-right: 3%;
}

.font3 {
    width: 25%;
}

.font4 {
    width: 25%;
    margin-right: 0;
}